body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* nav-menu style */
.menu-thumbnail {
	padding: 1px; }

.nav-item a:link,
.nav-item a:visited {
	color: black; }	

/* header style */
.jumbotron {
	padding: 0px;
	margin-bottom:0px; }

/* login article */
.login-frame,
.create-new-frame,
.users-frame {
	border: 1px solid black;
	width: 300px;
	padding-bottom: 10px; 
	margin-bottom: 20px;
	margin-left: 50%;
	transform: translate(-50%); }
.login-form,
.create-new-form {
	width: 260px;
	margin-left:20px; }
.login-title,
.create-new-title,
.users-title {
	text-align: center; }
.login-button,
.create-new-button {
	margin-left: 50%;
	transform: translate(-50%);
	margin-top: 10px; 
	margin-bottom: 10px; }
.login-button {
	margin-top: 20px; 
	margin-bottom: 20px;}

/* footer style */
.social-icon, 
.mail-envelope,
.language-flag {
	width: 25px !important;
	height: 25px !important;
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;}
.well {
	margin-bottom: 0px;
	text-align: center;
	cursor: pointer; }

/* footer and header style */
.well-sm {
	padding: 0px; }

